/node_modules
/Tinfoil Self Installer \[050000BADDAD0000\]\[12.10\]\[v11\].zip
/Lithium \[12.10\]\[v11\].zip
/package-lock.json
/Tinfoil \[050000BADDAD0000\]\[12.10\]\[v11\].nsp
/Tinfoil Applet Mode \[12.10\]\[v11\].zip
